* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-text-color: #000000;
  --secondary-text-color: #757575;
  --white-text-color: #ffffff;
  --akcent: #2196f3;
  --button-second: #f5f4fa;
}

section {
  padding-top: 94px;
  padding-bottom: 94px;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  text-decoration: none;
}

.licentr {
  text-align: center;
}

.page {
  background: var(--white-text-color);
  color: #212121;
  font-family: "roboto", sans-serif;
}

.logo {
  color: var(--primary-text-color);
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-top: 24px;
  margin-bottom: 25px;
  padding: inherit;
  width: 153px;
}

.logo-color {
  color: var(--akcent);
}

.logo:hover {
  color: var(--akcent);
}

.logo-footer {
  color: var(--primary-text-color);
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 22px;
  line-height: 1.2;
}
.logo-footer-color {
  color: var(--akcent);
}

.logo-footer:hover {
  color: var(--akcent);
}

.list {
  list-style: none;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.1;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

/* site-nav */
.site-nav a {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
}

.site-nav {
  display: flex;
  margin-left: 84px;
  margin-top: 32px;
  margin-bottom: 32px;
  padding: initial;
  justify-content: space-between;
  width: 294px;
  height: 16px;
  letter-spacing: 0.02em;
}
.link.current {
  color: var(--akcent);
}
.site-nav :hover,
.site-nav :focus {
  color: var(--akcent);
}

/* contact list */
.site-nav-contact a {
  color: var(--secondary-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.site-nav-contact {
  width: 333px;
  display: flex;
  justify-content: space-between;
  padding: initial;
  margin-top: 32px;
  margin-bottom: 32px;
}

.envelope {
  padding-right: 10px;
}
.smartphone {
  padding-right: 10px;
}

.item-center {
  display: flex;
  align-items: center;
}
.site-nav-contact :hover,
.site-nav-contact :focus {
  color: var(--akcent);
}

/* hero */
.hero-title {
  color: var(--white-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero {
  max-width: 1600px;
  height: 600px;
}

.hero-text {
  color: var(--white-text-color);
  position: absolute;
  width: 696px;
  height: 120px;
  top: 80px;
  margin-top: 200px;
  margin-bottom: 280px;
  margin-left: 452px;
  margin-right: 452px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.overlay {
  color: rgba(47, 48, 58, 0.8);
  max-width: 1600px;
  height: 600px;
  position: absolute;
}
/* section */
.test-container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.flex-element {
  width: calc((100% - 90px) / 4);
  margin-right: 30px;
  width: 270px;
  height: 251px;
}
.flex-element:nth-child(1n) {
  margin-right: 0px;
}
.rectange {
  position: absolute;
  margin-top: auto;
  margin-left: auto;
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
}

.rectange1 {
  margin-top: 25px;
  margin-left: 100px;
  margin-bottom: 25px;
  margin-right: 100px;
  position: absolute;
  width: 70px;
  color: #212121;
}

.text-rectange {
  margin-top: 150px;
  position: absolute;
  width: 270px;
  height: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.section-title {
  color: var(--primary-text-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 50px;
}

/* feauteres */
.feauteres-title {
  margin-top: 176px;
  position: absolute;
  width: 270px;
  height: 75px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

.bg-svg {
  position: absolute;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  border-radius: 0px;
  margin-top: 224px;
}

/* button */
.button {
  color: var(--white-text-color);
  background-color: var(--akcent);
  font-family: Roboto;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  min-width: 130px;
  position: absolute;
  margin-top: 350px;
  margin-bottom: 200px;
  margin-left: 700px;
  margin-right: 700px;
  top: 80px;
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-second {
  color: var(--primary-text-color);
  background-color: var(--button-second);
}

.our-team {
  display: flex;
  justify-content: space-between;
}

.our-team-second {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  width: 206px;
  height: 44px;
}

.our-team-social {
  display: flex;
  justify-content: center;
  margin: 0px;
  padding: 0px;
}

.our-team-social:nth-child(1n) {
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 16px;
}

.team-background {
  width: 270px;
  height: 422px;
  background: #ffffff;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
}

.bockground-our-team {
  width: 1600px;
  height: 702px;
  background: #f5f4fa;
}

.clients {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.client-container {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}

.clients-title {
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  padding-top: 20px;
}

.line {
  width: 1170px;
  border: 1px solid #ececec;
  margin: 0 auto;
  padding: 0 auto;
}

.container-footer {
  width: 1600px;
  height: 253px;
  background: #2f303a;
}
.footer-element {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* white-text-title*/

.white-text-title {
  position: absolute;
  margin-top: 251px;
  margin-left: 85px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text-color);
}
.nick-name {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: 30px;
}

.profession {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 10px;
}
.footer-text-title {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.8;
}
.footer-white-title {
  color: var(--white-text-color);
  font-size: 14px;
  line-height: 1.8;
  font-style: normal;
}

.social-contact {
  color: var(--white-text-color);
  font-size: 14px;
  line-height: 1.1;
}
.goit-developed {
  color: var(--secondary-text-color);
  font-size: 12px;
  line-height: 2;
  text-align: center;
}

.button-partfolio {
  color: var(--white-text-color);
  background-color: var(--akcent);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;

  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 3px 1px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 6px 22px;
  text-align: center;
  position: absolute;
  width: 73px;
  height: 38px;
}

.button-second-partfolio {
  color: var(--primary-text-color);
  background-color: var(--button-second);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  min-width: 130px;
  border-radius: 4px;
  text-align: center;
}

/* partfolio-text-title */
.partfolio-text-title {
  color: var(--secondary-text-color);
  font-weight: normal;
  font-size: 16px;
  line-height: 2;
}
.name-project {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  color: var(--primary-text-color);
}
.partfolio-description {
  color: var(--white-text-color);
  font-weight: normal;
  font-size: 18px;
  line-height: 1.6;
}

.box-container {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.page-header {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  height: 80px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.nav {
  display: flex;
}
